# Containers
SIMULATOR_CONTAINER_NAME=simulator
PROMETHEUS_CONTAINER_NAME=prometheus
GRAFANA_CONTAINER_NAME=grafana

# Portas
SIMULATOR_PORT=8080
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000

# Grafana
GF_ADMIN_USER=admin
GF_ADMIN_PASSWORD=admin123

# Prometheus
PROMETHEUS_RETENTION=30d